
html,
body {
    background-color: black !important;
    overflow: hidden;
  
    /* Prevent scrolling */
}

.loading-overlay[_ngcontent-ng-c2265430332] {
    margin-top: 140px !important;
}

.mat-mdc-progress-spinner .mdc-circular-progress__determinate-circle,
.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
    stroke: white !important;
}

button[aria-label="Start Share"],
button[aria-label="Users"],
button[aria-label="Start Video"],
button[aria-label="Settings"],
.self-view {
    display: none;
}

.ctrl-btn[_ngcontent-ng-c2939039469] {
    width: 40px !important;
    height: 40px !important;
}

#self-view-video[_ngcontent-ng-c3963960193],
#self-view-canvas[_ngcontent-ng-c3963960193],
#participant-canvas[_ngcontent-ng-c3963960193] {
    width: 105% !important;
    height: 70% !important;
    background-color: #000000 !important;
    margin-left: -20px !important;
}

mat-card[_ngcontent-ng-c3963960193] {
    top: 15px !important;
    left: 0px !important;
}

#participants-screen-share-content-canvas[_ngcontent-ng-c2500172694] {
    max-height: 80% !important;
}

.user-viefw[_ngcontent-ng-c3963960193] {
    display: none;
}

.controlskit {
    display: none;
    width: 200px;
    height: 100px;
    background-color: transparent !important;
    position: fixed;
    right: 10px;
    padding: 10px;
    bottom: 15px;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 0px !important;
}
